{% assign mailchimp == true %}
	
{% if mailchimp != true %}

{% comment %}<!-- MailChimp Method -->{% endcomment %}
<div id="CoverPop-cover" class="splash CoverPop-close">
   <div id="CoverPop-content" class="splash-center">
	<form action="//drapedsun.us2.list-manage.com/subscribe/post-json?u=35643006752ddfc371c8aff8b&amp;id=08641810e4"
		  method="get"
		  id="mc-embedded-subscribe-form"
		  name="mc-embedded-subscribe-form"
		  class="validate"
	      target="_blank"
		  novalidate />
		<input type="text" value="" name="FNAME" id="newsletter-first-name" placeholder="First Name" />
		<input type="email" value="" name="EMAIL" id="contact_email" placeholder="your@email" />
		<div style="position: absolute; left: -5000px;">
		     <input type="text" name="b_08eeb9579fc9a88b8fd255434_a659b1cd0d" tabindex="-1" value="" />
		</div>
		<input type="submit" value="Subscribe" name="subscribe" id="subscribe" class="button" />
	</form>
    <p class="close-splash"><a class="CoverPop-close" href="#">Close</a></p>

   </div><!--end .splash-center -->
</div><!--end .splash -->

{% else %}

<div id="CoverPop-cover" class="splash CoverPop-close">
   <div id="CoverPop-content" class="splash-center">
   {% form 'customer' %}
		<input type="hidden" id="contact_tags" name="contact[tags]" value="prospect,newsletter" />
		<input type="text" id="newsletter-first-name" name="contact[first_name]" value="" placeholder="First Name" />
	    <input type="text" id="contact_email" name="contact[email]" placeholder="your@email" />
		<input type='submit' value="Subscribe" name="subscribe" id="subscribe" class="button" />
	{% endform %} 
   <p class="close-splash"><a class="CoverPop-close" href="#">Close</a></p>

   </div><!--end .splash-center -->
</div><!--end .splash -->

{% endif %}
{{ 'email-popup.js' | asset_url | script_tag }}