/*********************************
  ___  _   _    _            
 /   || | | |  | |           
 \__  | | | |  | |  __       
 /    |/  |/_) |/  /  \_/\/  
 \___/|__/| \_/|__/\__/  /\_/
               |\            
               |/            

Abinav Thakuri & Cam Gould
http://elkfox.com
*********************************/

/********* Popup Styling *********/
.CoverPop-open,
.CoverPop-open body {
    overflow: hidden;
}

#CoverPop-cover {
    display: none;
    position: fixed;
    overflow-y: scroll;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    -webkit-animation: fade-in .25s ease-in;
    -moz-animation-name: fade-in .25s ease-in;
    -ms-animation-name: fade-in .25s ease-in;
    -o-animation-name: fade-in .25s ease-in;
    animation-name: fade-in .25s ease-in;
}

    .CoverPop-open #CoverPop-cover {
        display: block;
    }


@-webkit-keyframes fade-in {
    0% { opacity: 0; }
    25% { opacity: 0; }
    100% { opacity: 1; }
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

    .splash {
        background-color: rgb(42,86,186);
        background-color: rgba(42,86,186,0.95);
    }

        .splash-center {
            text-align: center;
            max-width: 420px;
            padding: 20px;
            background: #fff;
            margin: 10% auto 0;
        }

            .splash-title {
                margin: 0 0 5px 0;
            }

            .input-text {
                width: 100%;
                margin-bottom: 5px;
                border: solid 1px #ccc;
                padding: 7px;
            }

            .submit-button {
                margin-bottom: 10px;
            }

            .close-splash {
                margin: 0;
                font-size: 12px;
            }

@media screen and (max-width: 420px) {
    .splash-center {
        margin: 0;
    }
}
